{% extends "myapp/base.html" %}
{% block title %}Produit {{product.label}} {% endblock %}
{% block content %}
    <h2>{{product.label}}</h2>
    <p>category : {{product.category.label}}</p>
    <p><a href={{product.url}}>url</a></p>
    <p>PACKAGING</p>
    <ul>
    {% for packaging in packagings %}
        <li>{{ packaging.quantity }} {{ packaging.measurement_unit.name }} : {{ packaging.price }} Euros</li>
    {% empty %}
        <p class="empty">Cette recette ne contient pas d'ingrédients pour le moment.</p>
	{% endfor %}
	</ul>
{% endblock %}